<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/all_melons.css"/>
    <title>Document</title>
</head>
<body>
    {%  extends 'base.html' %}

    {% block body %}
    {% for melon in melon_list %}
    <div>
        <img class="melon-image" src="{{ melon.image_url }}">
        <h5>
        <a href="{{ url_for('melon_details', melon_id=melon.melon_id) }}"> {{ melon.common_name }}</a>     
        </h5>
        {{ melon.price_str() }} 
    </div>
    {% endfor %}
    {% endblock %}          
</body>
</html>